@import "mocha.css";

* {
	border: none;
	border-radius: 10;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 16px;
	min-height: 10px;
}

/* .modules-left { */
/*   background-color: @surface0; */
  /* border-top-left-radius: 0; */
  /* border-bottom-left-radius: 0; */
  /* margin-left: 0px; */
/* } */
/* .modules-right { */
/*   background-color: @surface0; */
  /* border-top-right-radius: 0; */
  /* border-bottom-right-radius: 0; */
/* } */

#workspaces button {
    padding: 0 8px;
    color: @text;
    border-radius: 15px;
    margin: 5px 0 5px 5px;
}

window#waybar {
  /* margin: 15px 15px 15px 15px; */
  /* color: @pink; */
	background: @surface0;
  border-radius: 20px;
  /* border: 1px solid @crust; */
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	/* margin-top: 6px; */
  margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}
#tags {
	/* margin-top: 6px; */
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #161320;
	transition: none;
}

#tags button {
	transition: none;
	color: #B5E8E0;
	background: @surface0;
	font-size: 16px;
	border-radius: 2px;
}

#tags button.occupied {
	transition: none;
	color: #F28FAD;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
  border: 3px solid @text;
	color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
  border: 1px solid @text;
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
    color: #E8A2AF;
}

#tags button.focused:hover {
    color: #E8A2AF;
}


#battery,
#cpu,
#memory,
#custom-media,
#tray,
#workspaces,
#backlight,
#pulseaudio,
#network,
#clock,
#custom-power {
  padding: 2px;
  margin-left: 4px;
}


#network {
	/* margin-top: 6px; */
	/* margin-left: 4px; */
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @green;
}

#pulseaudio {
	/* margin-top: 6px; */
	/* margin-left: 4px; */
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @yellow;
}

#battery {
	/* margin-top: 6px; */
	/* margin-left: 8px; */
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @teal;
	/* background: @surface0; */
}

/* #battery.charging, #battery.plugged { */
/* 	color: @teal; */
/* } */

#battery.critical:not(.charging) {
    color: @teal;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @red;
    }
}

#backlight {
	/* margin-top: 6px; */
	/* margin-left: 8px; */
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @peach;
}
#clock {
	/* margin-top: 6px; */
	/* margin-left: 8px; */
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @mauve;
}

#memory {
	/* margin-top: 6px; */
	/* margin-left: 8px; */
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @maroon;
}
#cpu {
	/* margin-top: 6px; */
	/* margin-left: 8px; */
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @sapphire;
}

#tray {
	/* margin-top: 6px; */
	margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #B5E8E0;
	background: @mantle;
}

#workspaces {
	font-size: 24px;
	/* margin-top: 6px; */
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
	color: @text;
	/* background: #313244; */
}
#workspaces button.active {
  color: @mauve;
  /* border: 1px solid @mauve; */
  background-color: @surface1;
}

#custom-launcher {
	font-size: 24px;
	/* margin-top: 6px; */
	/* margin-left: 8px; */
  margin-top: 2px;
  margin-bottom: 2px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #89DCEB;
    background: #161320;
}

#custom-power {
	/* font-size: 16px; */
	/* margin-top: 6px; */
	/* margin-left: 8px; */
	margin-right: 8px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @red;
}

#custom-wallpaper {
	/* margin-top: 6px; */
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #C9CBFF;
}

#custom-updates {
	/* margin-top: 6px; */
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #E8A2AF;
}

#custom-media {
	/* margin-top: 6px; */
	/* margin-left: 8px; */
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F2CDCD;
}
